.footerSVG {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  z-index: -1;
  flex-grow: 1;
  justify-content: center;
  overflow: visible;
}

.footerText {
  z-index: 2;
  color: var(--white);
}

.footerContainer {
  position: relative;
  display: flex;
  top: 0;
  bottom: 0;
  z-index: 1;
  flex-grow: 1;
  justify-content: center;
  overflow: visible;
}

.socialMedia {
  position: absolute;
  display: flex;
  min-height: 40px;
  top: 0;
  bottom: 0;
  z-index: 3;
  color: white;
}
