/* =================================================================== *\
*            Mary Elenius React Portfolio Main Stylesheet               *
*                            01-27-2023                                 *
\* ------------------------------------------------------------------  */

/*                          Table of Contents:                          *\

  * SETTINGS
          ## Fonts
          ## Colors
          ## Spacing and typescale
          ## Grid variables

  * NORMALIZE

  * BASE SETUP

  * GRID 
          ## Large screen devices 
          ## Medium screen devices 
          ## Tablet devices 
          ## Mobile devices 
          ## Small screen devices 
          ## Additional column stackpoints 

  * UTILITY CLASSES

  * TYPOGRAPHY 
          ## Base type styles
          ## Additional typography & helper classes
          ## Lists
          ## Spacing

  * PRELOADER

  * FORM
          ## Style placeholder text
          ## Change autocomplete styles in Chrome

  * BUTTONS

  * TABLE

  * COMPONENTS
          ## Pagination
          ## Alert box 
          ## Skillbars 
          ## Stats tabs

  * SHARED STYLES
          ## Theme-specific typography classes
          ##   Media classes
          ## Swiper overrides

  * PAGE WRAP

  * SITE HEADER
          ## Branding
          ## Main navigation
          ## Header social
          ## Mobile menu toggle

  * INTRO
          ## Intro text
          ## Intro bg

  * ABOUT
          ## About timelines
          ## About skills
          ## About clients

  * WORKS
          ## Portfolio list
          ## Testimonial slider

  * FOOTER
          ## Copyright
          ## Go top

/* =================================================================== *\
*                              SETTINGS                                 *
\* =================================================================== */

/* -------------------------       Font       ------------------------- */

:root {
  /* Normal Individual Properties */
  --normal-font-family: "futura-pt-condensed", sans-serif;
  --normal-font-weight: 500;
  --normal-font-style: normal;

  /* Normal Combined Properties */
  --normal-font: var(--normal-font-family) var(--normal-font-weight)
    var(--normal-font-style);

  /* Italic Individual Properties */
  --italic-font-family: "futura-pt-condensed", sans-serif;
  --italic-font-weight: 500;
  --italic-font-style: italic;

  /* Italic Combined Properties */
  --italic-font: var(--italic-font-family) var(--italic-font-weight)
    var(--italic-font-style);
}

/* -------------------------      Colors      ------------------------- */

:root {
  --purple: #403640;
  --blue: #3c4659;
  --dark-green: #374037;
  --light-green: #545947;
  --tan: #8c8274;
  --white: #f9f6ee;
  --red: #b83534;
}

/* -------------------------     Spacing     ------------------------- */
/*                         FUTURE DEVELOPMENT                          */

/* =================================================================== *\
 *                              NORMALIZE                                *
\* =================================================================== */

/*
  * --------------------------------------------------------------------
  |                 normalize.css v8.0.1 | MIT License                 |
  |                  github.com/necolas/normalize.css                  |
  * -------------------------------------------------------------------- 
                                                                        */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* =================================================================== *\
*                              BASE SETUP                               *
\* =================================================================== */

html {
  font-size: 1rem;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--white);
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--light-green);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: inherit;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

svg,
img,
video {
  max-width: 100%;
  height: auto;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* =================================================================== *\
*                                GRID                                   *
\* =================================================================== */

/* =================================================================== *\
*                           UTILITY CLASSES                             *
\* =================================================================== */

.flex {
  display: flex;
}

.align-center {
  margin: auto;
  align-self: center;
}

.align-left {
  margin-right: auto;
  align-self: center;
}

.align-right {
  margin-left: auto;
  align-self: center;
}

.align-x-center {
  margin-right: auto;
  margin-left: auto;
}

.align-x-left {
  margin-right: auto;
}

.align-x-right {
  margin-left: auto;
}

.align-y-center {
  align-self: center;
}

.align-y-top {
  align-self: flex-start;
}

.align-y-bottom {
  align-self: flex-end;
}

/* =================================================================== *\
*                              TYPOGRAPHY                               *
\* =================================================================== */

/*                         FUTURE DEVELOPMENT                          */
/*                       TEXT SIZES WILL GO HERE                       */

/* =================================================================== *\
*                                FORM                                   *
\* =================================================================== */

/*                         FUTURE DEVELOPMENT                          */
/*                     CONTACT FORM CSS WILL GO HERE                   */

fieldset {
  border: none;
}

input[type="email"],
input[type="number"],
input[type="text"],
input[type="tel"],
input[type="url"],
textarea,
select {
  display: block;
  border: 0;
  outline: 0;
  max-width: 100%;
  background: transparent;
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  color: var(--dark-green);
  border-bottom: 1px solid var(--dark-green);
}

/*                            PLACEHOLDER                             */

/* WebKit, Blink + Edge */
::-webkit-input-placeholder {
  color: var(--dark-green);
}

/* WebKit, Blink + Edge */
:-moz-placeholder {
  color: var(--dark-green);
  opacity: 1;
}

/* b   Firefox 19+     */
::-moz-placeholder {
  color: var(--dark-green);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--dark-green);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--dark-green);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--dark-green);
}

/* ------------------------------------------------------------------- 
  * ## change autocomplete styles in Chrome
  * ------------------------------------------------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--blue);
  transition: background-color 5000s ease-in-out 0s;
}

/* =================================================================== *\
*                               BUTTONS                                 *
\* =================================================================== */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  --btn-height: 2rem;
  display: inline-block;
  font-family: var(--normal-font);
  font-weight: 600;
  font-size: var(--text-xs);
  text-transform: uppercase;
  letter-spacing: 0.35em;
  height: var(--btn-height);
  line-height: calc(var(--btn-height) - 4px);
  padding: 0 3.6rem;
  margin: 0 0.4rem 0.5rem 0;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4;
  background-color: var(--tan);
  border: 2px solid var(--purple);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: var(--purple);
  border-color: var(--tan);
  color: var(--white);
  outline: 0;
}

/* button primary
  */
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
  background: var(--purple);
  border-color: var(--purple);
  color: var(--white);
}

.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus,
.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover {
  background: var(----purple);
  border-color: var(----purple);
  color: var(--white);
}

/* button modifiers
  */
.btn-fullwidth,
button.fullwidth {
  width: 100%;
  margin-right: 0;
}

.btn-small,
button.btn-small {
  --btn-height: calc(var(--vspace-btn) - 1.6rem);
}

.btn-medium,
button.btn-medium {
  --btn-height: calc(var(--vspace-btn) + 0.8rem);
}

.btn-large,
button.btn-large {
  --btn-height: calc(var(--vspace-btn) + 1.6rem);
}

.btn-stroke,
button.btn-stroke {
  background: transparent !important;
  font-weight: 700;
  border: 2px solid var(--purple);
  color: var(--white);
}

.btn--stroke:focus,
button.btn--stroke:focus,
.btn--stroke:hover,
button.btn--stroke:hover {
  background: var(--purple) !important;
  border: 2px solid var(--purple);
  color: var(--white);
}

.btn--pill,
button.btn--pill {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
  border-radius: 1000px !important;
}

/* =================================================================== *\
*                               TABLE                                   *
\* =================================================================== */

table {
  border-width: 0;
  width: 100%;
  max-width: 100%;
  font-family: var(--normal-font-family);
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem 3.2rem calc(0.5rem - 1px);
  text-align: left;
  border-bottom: 1px solid var(--purple);
}

th {
  padding: 0.5rem 3.2rem;
  color: var(--white);
  font-family: var(--normal-font-family);
  font-weight: 600;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* =================================================================== *\
*                              COMPONENTS                               *
\* =================================================================== */

/* ------------------------------------------------------------------- 
  * ## alert box 
  * ------------------------------------------------------------------- */
.alert-box {
  padding: 0.75rem 4rem 0.75rem 3.2rem;
  margin-bottom: 1rem;
  border-radius: 4;
  font-family: var(--normal-font-family);
  font-weight: 500;
  font-size: 4rem;
  line-height: 0.75rem;
  opacity: 1;
  visibility: visible;
  position: relative;
}

.alert-box__close {
  position: absolute;
  display: block;
  right: 1.6rem;
  top: 1.6rem;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.alert-box__close::before,
.alert-box__close::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 5px;
}

.alert-box__close::before {
  transform: rotate(45deg);
}

.alert-box__close::after {
  transform: rotate(-45deg);
}

.alert-box--error {
  background-color: var(--red);
  color: var(--white);
}

.alert-box--error .alert-box__close::before,
.alert-box--error .alert-box__close::after {
  background-color: var(--red);
}

.alert-box--success {
  background-color: var(--light-green);
  color: var(--white);
}

.alert-box--success .alert-box__close::before,
.alert-box--success .alert-box__close::after {
  background-color: var(--light-green);
}

.alert-box--info {
  background-color: var(--dark-green);
  color: var(--white);
}

.alert-box--info .alert-box__close::before,
.alert-box--info .alert-box__close::after {
  background-color: var(--light-green);
}

.alert-box--notice {
  background-color: var(--light-green);
  color: var(--white);
}

.alert-box--notice .alert-box__close::before,
.alert-box--notice .alert-box__close::after {
  background-color: var(--light-green);
}

.alert-box.hideit {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* =================================================================== *\
 *                             SHARED STYLES                             *
 \* =================================================================== */

/* responsive video container
  */
.video-container-landscape {
  --aspect-ratio-l: 16/9;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: calc(100% / (var(--aspect-ratio-l)));
}
.video-container-portrait {
  --aspect-ratio-p: 9/16;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: calc(100% / (var(--aspect-ratio-p)));
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* =================================================================== *\
*                              PAGE WRAP                                *
\* =================================================================== */

.s-pagewrap {
  --header-height: 10rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

/* =================================================================== *\
*                               ABOUT                                   *
\* =================================================================== */

/* =================================================================== *\
*                              CONTACT                                  *
\* =================================================================== */

/* =================================================================== *\
*                              CREDITS                                  *
\* =================================================================== */

/* =================================================================== *\
*                                HOME                                   *
\* =================================================================== */

/* =================================================================== *\
*                              PORTFOLIO                                *
\* =================================================================== */

/* =================================================================== *\
*                               RESUME                                  *
\* =================================================================== */
